
.literal .pre { color : black}

/* p { text-align : justify } */

li > p { text-align : left }

div.figure {
    margin-left: 50px;
    margin-right: 50px;
}

em.property
{
    /** A bit of a hack to correct for the additional space added to HTML around em.property elements */
    margin-right: -5px;
}
